<header class="header">
<!-- header bar start-->
	<div class="header-bar">
		<div class="header__column">
			<a href=""><span id="yomozomo">Yomozomo</span></a>
        </div>
        <div class="header__column">
			<div class="header__community">
            	<a href="#"><span class="header__text">커뮤니티</span></a>
            <div class="header__divider"></div>
            	<a href="#"><span class="header__text">스토어</span></a>
          </div>
        </div>
        <div class="header__column">
			<div class="input-group mb-3">
				<input
              		type="text"
              		class="form-control"
              		aria-label="Recipient's username"
              		aria-describedby="button-addon2"
            	/>
            	<button
              		class="btn btn-outline-secondary"
              		type="button"
              		id="button-addon2"
            	>
              		검색
            	</button>
          	</div>
        </div>
        <div class="header__column">
			<a href="#">
            	<span class="material-symbols-outlined"> shopping_cart </span></a>
			<div class="header__divider"></div>
          		<a href="#"><span class="header__text">로그인</span></a>
          		<div class="header__divider"></div>
          		<a href="../regist/regist.jsp"><span class="header__text">회원가입</span></a>
          		<div class="header__divider"></div>
          		<a href="#"><span class="header__text">고객센터</span></a>
        </div>
	</div>
</header>
