@charset "UTF-8";

.product__thumbnail {
	width: 250px;
	height: 180px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.product {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 40px 0px;
	margin-left: 100px;
}
.product__column {
	margin:10px;
	width: 22%;
}
.star{
	color: #F1C40F;
}

.product__name {
	font-weight: 700;
	font-size: 12px;
	margin: 2px 0px;
}

#total_count {
	font-weight: 800;
	margin-left: 5px;
}

.total {
	margin-left: 110px;
}

.discount__rate {
	color: red;
}

.review__text, .star {
	font-size: 15px;
	font-weight: 600;
}

